/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    box-sizing: border-box;
}

/* STYLE TEKSTU */

body {
	font-family: 'Courier New', Courier, monospace;
	color: red;
	line-height: 1.7;
	padding-top:40px;
}

p {
    margin-top: 6px;
}

h2, h3, h4, label {
    color: #45474f;
}

h1 {
	color: #bbbbbb;
    line-height: 1.2;
	/* padding-top:140px; */
}

h2 {
	line-height: 1.2;
	font-weight: 500;
	font-size: 36px;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.service {
	text-align: center;
	margin-top: 20px;
}

/* LAYOUT */


header {
	background: grey;
	/* height: 12vh; */
}

nav {
	padding: 0 20px;
	float: right;
}

.nav-logo {
	padding-left: 20px;
	padding-right: 20px;

}


.container {
	padding: 40px 20px;
}

section {
	clear: both;
	padding: 30px 0;
}

.jt-mainmenu {
	height: 100vh;
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)
	  ), url('img/baner.jpg');
	background-size: cover;
	
}

.jt-mainmenu>.container {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.jt-wykopy {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/wykopy.jpg');
		background-size: cover;
}

.jt-wykonczenia {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/wykonczenia.jpg');
		background-size: cover;
}

.jt-remonty {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/remont.jpg');
		background-size: cover;
}

.jt-podlogi {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/podlogi.jpg');
		background-size: cover;
}

.jt-ocieplenia {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/ocieplanie.jpg');
		background-size: cover;
}

.jt-elektryka {
	background: linear-gradient(
		rgba(0, 0, 0, 0.7), 
		rgba(0, 0, 0, 0.7)),
		url('img/elektryka.jpg');
		background-size: cover;
}

.offer-card {
	float: left;
	width: 33.333%;
	margin-top: 24px;
}


.opinions {
	background: #ffcc29;
}

.opinion {
	background: #ffffff;
	border-radius: 10px;
	margin:30px;
	float: left;
}

.opinion-img {
	padding:20px 20px;
	border-radius: 50%;
}

.opinion-description {
	margin-top: 16px;
}

.contact-form {
	width: 25%;
}

.map {
	float: left;
}

.btn-return {
	margin-top: 10px;;
}

.box {
	padding-bottom: 30px;;
}

.description {
	margin-top:30px;
}

/* IKONY */

footer {
	display: flex;
	flex-direction: row;
	justify-items: baseline;
}

.icons {
	display: flex;
	flex-direction: row;
	margin: 0 20px;
}

.icon {
	max-height: 26px;
	margin: 0 20px;
}